* {margin: 0px;padding: 0px;box-sizing: border-box;}
ul {list-style-type: none;}
a {text-decoration: none;}
.container {max-width: 1080px;width: 100%;margin: 0px auto;}

/* Slick slider css */
.gc_vid_sldr {margin: 0px auto 100px;}
.gc_vid_sldr svg {width: auto;height: 53px;display: block;}
.gc_vd_itm img {width: 90%;height: 180px;object-fit: cover;}
.gc_vd_itm p {word-wrap: break-word;display: block;width: 70%;/* display: none; */}
.slick-current + .slick-slide .gc_vd_itm p {padding-left: 20px;}

.slick-list, .slick-slider, .slick-track {position: relative;display: block;padding: 1.5rem 0px;}
.center .slick-center .gc_vd_itm img {transform:scale(1.3); transition: all 0.5s ease;}
.center .slick-center .gc_vd_itm p {margin-top: 45px;width: 100%;margin-left: -40px;display: block;}

/* Accordian css */
.accordian {width: 600px;margin: 0 auto 100px;}
.items {background-color: #f0ebe1;margin-bottom: 10px;padding: 10px 20px;}
.title {display: flex;justify-content: space-between;align-items: center;cursor: pointer;}
.title span {font-size: 20px;font-weight: bold;cursor: pointer;display: block;width: 20px;height: 22px;display: flex;justify-content: center;align-items: center;}
.content {/* display: none; */transition: all 0.5s ease;}

/* Tabbing css */
.tabbing_wrpr {width: 600px;margin: 0 auto 100px;border: 1px solid #ccc;}
.content-tabs li figure {display: block;width: 100%;}
.content-tabs li figure img{display: block;width: 100%;margin: 0px auto 10px;}
.content-tabs li figcaption {color: #000;font-size: 16px;line-height: 16px;margin-bottom: 20px;}
.bloc-tabs {display: flex;align-items: center;height: 40px;}
.bloc-tabs .tabs {height: inherit;display: flex;align-items: center;justify-content: center;width: 33.33%;background-color: #ccc;cursor: pointer;}
.bloc-tabs .tabs.active-tabs {border-top: 2px solid #1c9179;background-color: #fff;}
.content-tabs {height: 444px;overflow: hidden;}
.contentss {display: none;}
.contentss.active-content {display: block;}



@media all and (max-width: 767px) {
    .gc_vd_itm img {width: 100%;}
}
